body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.list-subtitle {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;

  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */

  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo .accent {
  color: #2e2f42;
}

.header-menu-list {
  /* display: flex;
  gap: 40px; */
  display: none;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
  color: #404bbf;
}

.header-menu-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.link-active:active {
  text-decoration: underline;
}

.header-address {
  /* margin-left: auto; */
  display: none;
}

.header-address-list {
  display: flex;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
}

.header-menu-icon {
  fill: #2f2f37;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-container {
  width: 100%;
  max-width: 320px;
  /* height: auto; */
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
}

.menu-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-icon {
  fill: #2e2f42;
}

.menu-close:hover,
.menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.menu-close:hover .menu-close-icon,
.menu-close:focus .menu-close-icon {
  fill: #ffffff;
}

.mob-navigation {
  margin-bottom: auto;
}
.mob-menu-list {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}

.mob-menu-link.current {
  color: #404bbf;
}
.mob-address {
  /* margin-top: 168px; */
}
.mob-address-list {
  margin-bottom: 48px;
}
.mob-address-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: #404bbf;
}

.mob-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 10vw, 40px);
}
.mob-icon-wrapper {
}
.mob-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:hover,
.mob-icon-link:focus {
  background-color: #404bbf;
}

.mob-icon {
  fill: #f4f4f4;
}

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  /* max-width: 1440px; */
  max-width: 320;
  width: 100%;
  height: auto;
}
.hero-title {
  /* font-size: 56px; */
  /* line-height: 1.07; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  /* max-width: 496px; */
  max-width: 216px;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
}

.hero-btn {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.about {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  row-gap: 72px;
}

.about-item {
  /* max-width: calc((100% - 72px) / 4); */
  margin: 0 auto;
}

.about-icon-wrapper {
  /* border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px; */
  display: none;
}

.about-subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-text {
  text-align: left;
  color: #434455;
}

.team {
  background: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
  row-gap: 72px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
}

.team-item-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.team-item-person {
  margin-bottom: 8px;
  text-align: center;
}

.team-item-profession {
  text-align: center;
  margin-bottom: 8px;
}

.team-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

.team-describe {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: auto;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  row-gap: 48px;
  margin: 0 auto;
}

.portfolio-item {
  width: 288px;

  height: auto;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-cover {
  transform: translate(0);
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-item-image {
  width: 100%;
  height: auto;
}

.portfolio-text-cover {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  text-align: left;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-describe {
  /* width: 360px; */
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-item-subtitle {
  margin-bottom: 8px;
  text-align: left;
}
.portfolio-item-text {
  text-align: left;
}

.footer {
  background: #2e2f42;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
}

.footer-logo {
  /* max-width: 264px;
  margin-right: 120px; */
  max-width: 288px;
  height: auto;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.footer-logo .accent {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media {
  max-width: 208px;
  /* margin-right: 80px; */
}

.footer-title {
  font-weight: 500;

  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-input-cover {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: #fff;
}

.footer-input:focus {
  border-color: #4d5ae5;
}

.footer-btn {
  border: none;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 64px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.sub-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  margin-left: 16px;
  transform: translateY(-50%);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  border-radius: 4px;
  /* width: 408px; */
  width: 288px;

  /* min-height: 584px; */
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  /* padding-left: 38px; */
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-cover:focus-within .modal-input {
  border-color: #4d5ae5;
}

.modal-input-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-cover:focus-within .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-cover {
  position: relative;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  color: #8e8f99;
}

.textarea-cover {
  margin-bottom: 16px;
}

.textarea-cover:focus-within .modal-textarea {
  border-color: #4d5ae5;
}
.check-item {
  margin-bottom: 24px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.privacy-policy {
  line-height: 1.33;
  /* padding-left: 4px; */
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.check-element {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: inline-flex; */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-check:checked ~ .check-text .check-element {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
